<table id="show">

<th>


  <strong>First name:</strong></th>
	<td>
  <%= @user.first_name %>
	</td>
	
</table>

<p>

  
  	<table id="show">
<div id="wrap">
	<th>
		<strong>Last name:</strong>
	</th>

	<td>
  
  <%= @user.last_name %>
  </td>
</table>
<table id="show">
<th>
  <strong>Email:</strong></th>
  <td>
  <%= @user.email %></td>
</p>
</table>



<br><br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
